<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aster.plugin.garble.mapper.MonitorExcludeMapper">

    <select id="selectUpdatedRecord" resultType="java.lang.String">
        select ${pri} from ${table} where ${updateFlagVolName} = 1
    </select>

    <update id="rollBackUpdatedRecord">
        update ${table} set ${updateFlagVolName} = 0
        <where>
            <if test="null != ids and ids.size() > 0">
                and ${pri} in
                <foreach collection="ids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>




</mapper>